.results-container {
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

.score {
    font-size: 1.5rem;
    color: #46b80d;
}

.question-results {
    margin-top: 10px;
}

.result {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.correct {
    background-color: #d4f8e0;
    color: #46b80d;
}

.incorrect {
    background-color: #f8d4d4;
    color: #cc4231;
}